/* generated palette */
.theme-0 { color: #43c9d5; }
.theme-1 { color: #54fc4c; }
.theme-2 { color: #46d2ea; }
.theme-3 { color: #7b715d; }
.theme-4 { color: #6838d8; }
.theme-5 { color: #339965; }
.theme-6 { color: #786848; }
.theme-7 { color: #5f1d99; }
.theme-8 { color: #6329b5; }
.theme-9 { color: #309050; }
.theme-10 { color: #6c44f4; }
.theme-11 { color: #309050; }
.theme-12 { color: #72561e; }
.theme-13 { color: #5f1d99; }
.theme-14 { color: #6329b5; }
.theme-15 { color: #309050; }
.theme-16 { color: #642cbc; }
.theme-17 { color: #339965; }
.theme-18 { color: #359f73; }
.theme-19 { color: #7d776b; }
